* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* task*/
.item {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
  width: max-content;
}

h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
}

h2 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33em; /* 133.333% */
  letter-spacing: 0.04;
}

.item ul li {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 8px;
  padding-left: 16px;
  line-height: 40px;
}

.gallery {
  display: flex;
  gap: 48px 24px;
}

.gallery-item {
  width: 360px;
  height: 300px;
}

#name-input {
  margin-bottom: 16px;
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

button{
padding: 8px 16px;
justify-content: center;
align-items: center;
border-radius: 8px;
background-color: #4E75FF;
border-style: none;

color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5em; /* 150% */
letter-spacing: 0.04;
}

input{
  width: 360px;
  height: 40px;
  border-radius: 4px;
border: 1px solid #808080;
}

label{
color: #2E2F42;
font-size: 16px;
line-height: 1.5em; /* 150% */
letter-spacing: 0.04;
}